@import "./base.css";

@import "./base.css";


@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.p-menubar{
  color: white;
  border: 0;
  background-color: #264986;
  width: 100%;
  border: 0;
  border-radius: 0;
  display: block;
  display: flex;
  right: auto;
}

.p-menubar .p-button{
  color: white;
  width: 150px;
  background: none;
  font-family: Roboto;
}

.p-menubar .p-button:hover{
  color: white;
  width: 150px;
  background: none;
  font-family: Roboto;
}

.p-menubar-start{
  font-family: Poppins;
  display: inline-flex;
  align-items: center;
  font-size: 20px;
  position: relative;
  width: 70%;
  margin-left: 60px;
  margin-right: 0;
}

.p-menubar-start span{
  margin-left: 10px;
}
.login Button{
  background-image: linear-gradient(to right, rgba(39, 70, 133, 0.8) 0%, rgba(61, 179, 197, 0.8) 100%);
}
.login Button:hover{
  background-color: black;
}

Button{
  transition: none;
}
footer{
  background:linear-gradient(90deg, #264986 3.89%, rgba(61, 179, 197, 0.8) 100%);
}
header{
  background: #264986;
}

