@import "./base.css";


@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
body{
  margin: 0;
  font-family: Poppins;
}
p{
  color: black;
}

b{
  font-family: Poppins;

}

.p-menubar{
  color: white;
  border: 0;
  background-color: #264986;
  width: 100%;
  border: 0;
  border-radius: 0;
  display: block;
  display: flex;
  right: auto;
}

.p-menubar .p-button{
  color: white;
  width: 150px;
  background: none;
  font-family: Roboto;
}

.p-menubar .p-button:hover{
  color: white;
  width: 150px;
  background: none;
  font-family: Roboto;
}

.p-menubar-start{
  font-family: Poppins;
  display: inline-flex;
  align-items: center;
  font-size: 20px;
  position: relative;
  width: 70%;
  margin-left: 60px;
  margin-right: 0;
}

.p-menubar-start span{
  margin-left: 10px;
}
.login Button{
  background-image: linear-gradient(to right, rgba(39, 70, 133, 0.8) 0%, rgba(61, 179, 197, 0.8) 100%);
}
.login Button:hover{
  background-color: black;
}

Button{
  transition: none;
}
footer{
  background:linear-gradient(90deg, #264986 3.89%, rgba(61, 179, 197, 0.8) 100%);
}
header{
  background: #264986;
}

:root{
  --activa-color:#ffffff;
  --link-text-color:#f1faee;
  --menu-background-color:#264986;
  --active-background-color:#264986;

}
header{
    margin:0;
}
.button-user{
    background-color: var(--menu-background-color);
    margin:0;
    padding:0;
    color:white;
    border:none;
    display: inline-flex;
    justify-items: center;
    font-size:15px;
}
.btn-notification{
  background-color: var(--menu-background-color);
  margin-top:20px;
  margin-right:150px;
  color:white;
  border:none;
  display: inline-flex;
  justify-items: center;
  font-size:15px;
  cursor:pointer;
}

#name-user{
    margin-top: 15px;
    width: 150px;
    margin-inline: 2px;
}
#angle-icon{
    font-size: 15px;
    
    
}
i{
    margin-top: 15px;
    ;
    font-size: 20px;
    
}
.prueba{
    font-family: "Poppins";
    width: 1440px;
    height: 49px;
    background-color:var(--menu-background-color);
    align-items: center;
    display: flex;
    margin-inline-start:71px;
    color:white;
    font-size: 20px;
    width: 70%;
    margin-left: 60px;
    margin-right: 0;
    
}
.prueba img{
    height: 40px;
    width: 40px;
    display: flex;
    
}
.menu-left{
    display: flex;
    margin-inline-end:150px;

}
.menu-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
    
}
/* ul */
.menu{
    /*
    top:49.68px;
    top:7.52%;*/
    margin:0;
    left: 12%;
    bottom:86%;
    width: 75%;
    height: 80.32px;
    position: relative;
    background-color: var(--menu-background-color);
    display: inline-flex;
    
    list-style: none;
    
}
/* li */

.menu-item{
    display: inline-flex;
    align-items: center;
    width: 100%;
    white-space: nowrap;
    
}
/* a */

.menu-link{
    
   
    /*margin-left: 10px;
    margin-right: 0;*/
    
    padding:21px;
    width: 142px;
    
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--link-text-color);
    text-decoration: none;
    


}

.menu-link:hover, .menu-link.active{
    color: var(--activa-color);
    background-color: var(--active-background-color);
}

/* icon */
.menu-icon{
    
   /* height: 1.5rem;
    width: 1.5rem;*/
   
    justify-content: center;
    align-items: center;
    display: inline-flex;
    /*margin-right: 0.2rem;*/

}

/* slider */
.menu-indicator{
    position: absolute;
    height: 0.25rem;
    background-color: var(--activa-color);
    bottom:0;
    left: 0;
    margin: auto;
    width: 3rem;
    transition: all ease 0.5s;

}





*{
  margin:0;
  padding:0;
}
.modal-bg{
  position:absolute;
  top:0;
  left:0;
  width: 100vw;
  height: 100vh;

  background-color:rgba(0,0,0,0.5);

  display :flex;
  justify-content:center;
  align-items: center;
  color:black;
  font-weight:normal;
}
.modal2-bg{
  position:fixed;
  top:0;
  left:0;
  width: 100vw;
  height: 100vh;

  background-color:rgba(0,0,0,0.5);

  display :flex;
  justify-content:center;
  align-items: center;
}
.modal3-bg{
  position:fixed;
  top:0;
  left:0;
  width: 100vw;
  height: 100vh;

  background-color:rgba(0,0,0,0.5);

  display :flex;
  justify-content:center;
  align-items: center;
}
.modal4-bg{
  position:fixed;
  top:0;
  left:0;
  width: 100vw;
  height: 100vh;

  background-color:rgba(0,0,0,0.5);

  display :flex;
  justify-content:center;
  align-items: center;
}
.modalContractAccepted-bg{
  position:fixed;
  top:0;
  left:0;
  width: 100vw;
  height: 100vh;

  background-color:rgba(0,0,0,0.5);

  display :flex;
  justify-content:center;
  align-items: center;
}
.modalContractRejected-bg{
  position:fixed;
  top:0;
  left:0;
  width: 100vw;
  height: 100vh;

  background-color:rgba(0,0,0,0.5);

  display :flex;
  justify-content:center;
  align-items: center;
}
.modal{
  position:absolute;
  background: rgba(255, 255, 255, 0.92);
  padding:50px 100px;
  border-radius: 7px;
  box-shadow: 0 10px 5px 2px rgba(0,0,0,0.1);
  width: 580px;
  margin-top: -210px;
  margin-right: -500px;
  color:black;
  font-weight:normal;
}
@media (max-width: 1860px) {
  .modal {
    margin-right: -400px;
  }
}
.modal2{
  position:relative;
  background: rgba(255, 255, 255, 0.92);
  padding:50px 100px;
  border-radius: 7px;
  box-shadow: 0 10px 5px 2px rgba(0,0,0,0.1);
  width: 600px;
  height: 450px;
  margin-top:-20px;
  margin-right: 120px;
}
.modal3{
  position:relative;
  background: rgba(255, 255, 255, 0.92);
  padding:50px 100px;
  border-radius: 7px;
  box-shadow: 0 10px 5px 2px rgba(0,0,0,0.1);
  width: 600px;
  height: 250px;
  margin-top:-20px;
  margin-right: 120px;
}
.modal4{
  position:relative;
  background: rgba(255, 255, 255, 0.92);
  padding:50px 100px;
  border-radius: 7px;
  box-shadow: 0 10px 5px 2px rgba(0,0,0,0.1);
  width: 600px;
  height: 250px;
  margin-top:-20px;
  margin-right: 120px;
}
.modalContractAccepted{
  position:relative;
  background: rgba(255, 255, 255, 0.92);
  padding:50px 100px;
  border-radius: 7px;
  box-shadow: 0 10px 5px 2px rgba(0,0,0,0.1);
  width: 600px;
  height: 500px;
  margin-top:-250px;
  margin-right: 120px;
}
.modalContractRejected{
  position:relative;
  background: rgba(255, 255, 255, 0.92);
  padding:50px 100px;
  border-radius: 7px;
  box-shadow: 0 10px 5px 2px rgba(0,0,0,0.1);
  width: 600px;
  height: 500px;
  margin-top:-250px;
  margin-right: 120px;
}
.close-btn{
  position:relative;
  bottom: 85px;
  left:545px;
  cursor:pointer;
}
.close-btn2{
  position:relative;
  bottom: 50px;
  left:460px;
  cursor:pointer;
}
.close-btn3{
  margin-top: 70px;
  margin-left: -350px;
  position:relative;
  bottom: 50px;
  left:485px;
  width:140px;
  cursor:pointer;
}
.close-btn4{
  margin-top: 80px;
  margin-left: -350px;
  position:relative;
  bottom: 50px;
  left:485px;
  width:140px;
  cursor:pointer;
}
.not-newOrder{
  margin-bottom: 50px;
  width: 500px;
  height: 97px;
  top:100px;
  margin-top: -40px;
  margin-left: -60px;
  background: white;
  border-radius: 7px;
  font-weight:normal;
}
.not3-box{
  width: 500px;
  height: 290px;
  margin-top: 35px;
  margin-left: -60px;
  border-radius: 7px;
  background: white;
  font-weight:normal;
}
.not-resume{
  width:280px;
}
.sub-contract-information{
  margin-top:-70px;
  margin-left: 60px;
  font-weight: bold;
  font-size: 25px;
  margin-bottom:35px;
}
.sub-contract-resume{
  margin-left: 22px;
  margin-top:-20px;
  margin-bottom:20px;
  font-weight: bold;
  font-size: 15px;
}

.not-message{
  width: 70px;
  height: 70px;
  margin-top: 20px;
  margin-left: 60px;
}
.not-resume-txt{
  margin-left: 200px;
  margin-top: -50px;
  width:400px;
  font-weight:normal;
}
.not-orderArrived{
  width: 500px;
  height: 100px;
  top:100px;
  margin-top: -35px;
  margin-left: -60px;
  background: white;
  border-radius: 7px;
}
.not-contractAccepted{
  width: 500px;
  height: 100px;
  top:100px;
  margin-top: 15px;
  margin-left: -60px;
  background: white;
  border-radius: 7px;
}
.not-contractRejected{
  width: 500px;
  height: 100px;
  top:100px;
  margin-top: 15px;
  margin-left: -60px;
  background: white;
  border-radius: 7px;
}
#Play5{
  margin-top:0;
  margin-bottom:10px;
  width: 100px;
  height: 100px;
  float:left;
}
.Amazon{
  margin-left:40px;
  margin-top:-25px;
  height: 30px;
  width: 43px;
  box-shadow: 0px 0px 0px #999;
}
.sub-sold-by{
  padding-top:-30px;
  font-size: 9px;
}
.box-bottom-contract{
  margin-top:-50px;
  margin-left:18px;
  width: 100px;
  height: 40px;
}
.box_container_contract{
  margin-top:0px;
  height: 165px;
}
.Subtitle-Play5{
  margin-top: -20px;
  margin-left: 110px;
  font-weight: bold;
  font-size: 13px;
}
.date-container-txt{
  margin-left: 110px;
  font-size: 13px;
}
.date-container{
  margin-top: 10px;
}
.date-container-txt-bold{
  font-size: 13px;
}

.box-courier-data{
  margin-top: -180px;
  margin-left: 360px;
  box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.1);
  width: 135px;
  height: 80px;
}
.subtitle-courier-data{
  font-weight: bold;
  font-size: 11px;
}
.Courier-data-Photo{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.name-courier-data{
  font-size: 10px;
  margin-left:60px ;
  margin-top:-50px ;
  font-weight: bold;
}

.box-client-data{
  margin-top: 0;
  margin-left: 360px;
  width: 135px;
  height: 80px;
}
.subtitle-client-data{
  font-weight: bold;
  font-size: 11px;
}
.client-data-Photo{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.name-client-data{
  font-size: 10px;
  margin-left:60px ;
  margin-top:-50px ;
  font-weight: bold;
}
.box-bottom-left-contract-information{
  margin-left:150px ;
  margin-top:15px ;
  width: 110px;
}
.txt-order{
  font-size: 13px;
}
.txt-amount{
  font-size: 13px;
  margin-top:10px ;
}
.box-bottom-right-contract-information{
  margin-left:240px ;
  margin-top:-53px ;
  width: 110px;
}
.txt-order-id{
  font-size: 16px;
  color: #264986;
  font-weight: bold;
}
.txt-amount-usd{
  font-size: 16px;
  color: #264986;
  font-weight: bold;
  margin-top:7px ;
}

.btn-accept{
  background-image: linear-gradient(to right, rgba(39, 70, 133, 0.8) 0%, rgba(61, 179, 197, 0.8) 100%);
  margin-left: 98px;
  width: 150px;
}
.btn-decline{
  background-image: linear-gradient(to right, rgba(39, 70, 133, 0.8) 0%, rgba(61, 179, 197, 0.8) 100%);
  width: 150px;
  left:10px;
}
.btns{
  margin-top:25px ;
}
.txt-acc{
  margin-left: 35px;
}
.txt-dec{
  margin-left: 35px;
}
.txt-accept-contract{
  font-weight: bold;
  font-size: 30px;
}
.txt-decline-contract{
  font-weight: bold;
  font-size: 30px;
}
.txt-accept-contract-add{
  font-weight: bold;
  font-size: 15px;
  color:#264986;
}
.OpenNewModal{
  width: 40px;
  height: 20px;
  margin-left: 430px;
  margin-top: 15px;
}
.box-bottom-contract-information{
  margin-top: 30px;
}
.txt-close{
  margin-left: 35px;
}
.btn-OpenNewModalContractAccepted{
  width: 40px;
  height: 20px;
  margin-left: 430px;
  margin-top: 0px;
  top:-5px;
}
.title-m-c-a{
  font-weight: bold;
  font-size: 28px;
  margin-top: -30px;
}
.box-complete-contract-accepted{
  margin-top: 40px;
  margin-left: 10px;
}
.btn-accept2{
  margin-top: 20px;
  margin-left: 180px;
  width: 160px;
}
.btn-OpenNewModalContractRejected{
  width: 40px;
  height: 20px;
  margin-left: 430px;
  margin-top: 0px;
  top:-5px;
}
.title-m-c-r{
  font-weight: bold;
  font-size: 28px;
  margin-top: -30px;
}
.box-courier-data-by{
  height: 90px;
  margin-top: 40px;
  padding-left: 150px;
  box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.1);
}
.box-contract-resume-rejected{
  margin-top: 20px;
  padding-left: 40px;
}
.box-complete-rejected{
  background: white;
  height: 300px;
  margin-top:-25px;
  border-radius: 5%;
}
.btn-accept-rejected{
  margin-top: 20px;
  margin-left: 120px;
  width: 160px;
}

